<div class="flex" style="height: 100%;">
    <form #changePasswordForm="ngForm" (ngSubmit)="submit(changePasswordModel)" appRetypePassword>
        <div class="flex box" style="width: 400px; height: 550px;">
            <div class="box-header" i18n>
                Change your password
            </div>
            <div class="flex box-slider" [@openClose]="isDone ? 'true' : 'false'">
                <div class="flex box-content" style="padding: 20px;">
                    <div class="form-row">
                        <mat-form-field appearance="outline" class="form-input">
                            <mat-label i18n>Email</mat-label>
                            <input [(ngModel)]="changePasswordModel.Email" name="email" #email="ngModel" matInput
                                type="email" required email>
                            <mat-error i18n [hidden]="!email.hasError('email')">
                                Invalid email address!
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-row">
                        <mat-form-field appearance="outline" class="form-input">
                            <mat-label i18n>Current password</mat-label>
                            <input [(ngModel)]="changePasswordModel.Password" name="oldPassword" matInput
                                type="password" required>
                            <mat-error i18n>Invalid password</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-row">
                        <mat-form-field appearance="outline" class="form-input">
                            <mat-label i18n>New password</mat-label>
                            <input [(ngModel)]="changePasswordModel.NewPassword" name="password" #password="ngModel"
                                matInput type="password" minlength="8" required>
                            <mat-error *ngIf="!password.valid" i18n>
                                Password must be at least 8 characters long
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-row">
                        <mat-form-field appearance="outline" class="form-input">
                            <mat-label i18n>Retype new password</mat-label>
                            <input ngModel matInput type="password" name="retypedPassword" #retypedPassword="ngModel"
                                required minlength="8" [errorStateMatcher]="samePasswordStateMatcher">
                            <mat-error i18n>
                                Passwords do not match
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <button mat-raised-button class="submit-btn"
                        [disabled]="!changePasswordForm.form.valid" color="primary" i18n>Submit</button>
                    <div *ngIf="errorResponse !=''" style="color: red">
                        {{errorResponse}}
                    </div>
                </div>
                <div class="flex box-content submitted">
                    <h2 i18n>Password set succesfully</h2>
                    <mat-icon fontIcon="check_circle" style="height: auto; width: auto; font-size: 7em;"></mat-icon>
                    <button mat-raised-button routerLink="/login" i18n>Sign in</button>
                </div>
            </div>
        </div>
    </form>
</div>