@use '../../../styles.scss' as s;

.box-slider {
    flex-direction: row;
    width: auto;
    height: 100%;
}

.submit-btn {
    min-width: 200px;
    min-height: 50px;
    font-size: 1.25em;
}

.submitted{
    background-color: s.$primary-color;
    color: white;
    height: 100%;
    justify-content: space-evenly;
}